*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    background-color:#FBD2D3; 
    font-family:Arial, Helvetica, sans-serif;
}

.project_container1{
   
display:flex;
justify-content: space-between;
align-items: center;
color:white;
}
 .hand{
   
    width:45vw;
    height:80vh;
}

ul{
    list-style-type:none;
    flex:1;
    display:flex;
    position: absolute;
    top:0;
    left:0;

}
li{
    margin-left:0.8rem;
    flex:1;
    display:flex;
    justify-content: space-between;
    color:white;
    font-size:1.4rem;
    font-weight: bolder;
}
.candy{
    color:red;
    font-size:1.5rem;
}
span{
    color:red;
    font-weight: bolder;
}
.p1{
position: relative;
left:20vw;
font-size:2rem;
}


.project_container2,.project_container3,.project_container4{
    margin-top:10vh;
    display:flex;
    justify-content: space-between;
    align-items:center;
}
.lollipop{
    height:20vh;
    width:20vw;
}
.p2,.p4 {
    position: absolute;
    left:55vw;
    display:flex;
    flex-direction: column;
    align-items:center;
    color:#d21404;
    font-size:1.4rem;
   

}
.p2 h2{
    font-size:2rem;
}
.p3{

    display:flex;
    flex-direction: column;
    align-items:center;
    color:#d21404;
    font-size:1.4rem;
    
}
.milk,.gumball,.sprinkles{
   
    width:45vw;
    height:80vh;
}
